*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(169, 255, 202);
}
main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.container {
    border: none;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.pixel {
    border: 1px black solid;
    flex: 1;
}

.row {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.settings {
    height: 100px;
    border: 1px black solid;
    width: 700px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.input-size {
    height: 30px;
    margin: 0;
    border-radius: 10px;
    border: 1px black solid;
    padding: 5px;

}

.input-size::placeholder {
    color: rgb(99, 99, 99);
}
h1 {
    text-align: center;
    font-family: "VT323", 'Courier New', Courier, monospace;
    font-size: 4em;
    margin: 20px;
}

.input {
    /*border: 2px red solid;*/
}

.enter {
    margin: 0;
    height: 30px;
    width: 50px;
    border: none;
    background-color: rgb(211, 211, 211);
    margin-right: 10px;
}

.enter:hover, .randomize:hover {
    background-color: rgb(116, 116, 116);
}

.enter:active, .randomize:active {
    background-color: rgb(70, 70, 70);
}

.randomize {
    margin: 0;
    height: 30px;
    width: 120px;
    border: none;
    background-color: rgb(211, 211, 211);
}